*{box-sizing: border-box;}
.window{
  width: 300px;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
}
.images{
  display: flex;
  position: relative;
}
.images img{
  width: 100%;
  transition: all 0.3s;
  position: absolute;
  top: 0; 
}
.images img.right{ /* 这里别用.right */
  left: 100%;
}
.current{
  left: 0;
  transform: translateX(0);
  z-index: 1;
}
.leave{
  transform: translateX(-100%);
}
.enter{
  transform: translateX(100%);
}