*{
  box-sizing: border-box;
}
.window{
  width: 400px;
  height: 300px;
  overflow: hidden;
  margin: 20px auto;
}
.images{
  display: flex;
  transition: all 0.5s;
}
.images img{
  width: 100%;
  flex-shrink:0; /*  flex-shrink 主要处理当flex容器空间不足时候，单个元素的收缩比例 */ 
  /* 不加的话部分 img 的宽度会变小 */
}